body{
	background: url("../imagens/fundo.png");
	background-size: 100%;	
	font-family:arial;
	font-size: 14px; 
}
.logo1{
	width: 70%;
	margin: auto;
	display: block;
	margin-top: 10px;
}
.logo{
	width: 20%;
	position: absolute; 
	z-index: -1;
	right: 5px;
	top: 25px;
}
.tema{
	color: #00688B;
}
.descricao{
	text-align: center;
	color: #ffffff;
}
button:hover{cursor: pointer}
button {
	margin-top: 40px;
	position: relative;
	background-color: #6CA6CD;
	border: none;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 7px 7px 3px #00688B;
}
button:hover:before{opacity: 1; transform: translate(0,0);}
button:before{
	font-family:courier;
	content: attr(data-hover);
	position: absolute;
	top: 1.1em; left: 0;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 800;
	font-size: 2em;
	margin-top: 50px;
	opacity: 0;
	transform: translate(-100%,0);
	transition: all .3s ease-in-out;
}
button:hover div{opacity: 0; transform: translate(100%,0)}
button div{
	width: 100%;
	height: 100%;
	padding: 15px 25px;
	font-size: 1.2em;
	text-align: center;
	color: #363636;
	background-color: #6CA6CD;
	transition: all .4s ease-in-out;
}
@media (max-width: 480px) {
	.logo{
	width: 60%;
	position: relative; 
	left: 30px;
	margin-bottom: 50px;
}
	.licao {
	font-size: 1.6em;
	font-family:arial; 
	color: #00688B;
}
	